<!DOCTYPE HTML>
<html>
	
<!-- Mirrored from yogabalisha.ru/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Oct 2018 16:29:25 GMT -->
<head>
    <title>Релакс-йога-тур на Бали</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/plyr.css">
		
</head>
<body>
    
<style>
    .sprkletext {
        font-size: 12px !important;
        font-family: 'Ubuntu-Regular';
        padding-top: 25px;
    }
    .sparklebig {
        font-size: 11px !important;
        font-family: 'Ubuntu-Regular';
        position: relative !important;
        top: -13px !important;
        background: none !important;
        display: inline !important;
        margin-left: 0px !important;
    }
    .sparklesmall {
        font-size: 9px !important;
        font-family: 'Ubuntu-Regular';
        position: relative !important;
        top: -5px !important;
        background: none !important;
        display: inline !important;
        margin-left: 0px !important;
    }
</style>
    
<section id="header">
    <div class="container-fluid">
        <div class="row text-left">
            <!--<div class="phone">+74952411332</div>-->
            <button name="order_call" type="button" class="btn-zvonok">Перезвоните мне</button>
        </div>
        <div class="row">
            <div class="title col-sm-offset-4 col-sm-8 text-center">Релакс-йога-тур<span class='sparklesmall'>*</span> на Бали<span></span>
                <h2>11 дней полного<br/> расслабления,<br/> ярких эмоций</br> и знакомства с йогой</h2>
				
                <div class="row">
				    
                    <div class="formTop col-sm-offset-1 col-sm-10">
                        <div class="offerTop text-center">Скачай презентацию<br/><span>Релакс-йога-тура<span class='sparklesmall'>*</span> бесплатно!</span></div>
                        <form action="http://yogabalisha.ru/send/send.php" id="leadformTop" target="_blank" onsubmit="yaCounter40478110.reachGoal('orderfull'); return true;" method="post">
                        <div class="row">
                            <div class="col-sm-4">
                                <input class="form-input" placeholder="Имя" type="text" name="name" value="" id="name" required="required">    
                            </div>
                            <div class="col-sm-4">
                                <input class="form-input" placeholder="Телефон" type="text" name="phone" value="" id="phone" required="required">    
                            </div>
                            <div class="col-sm-4">
                                <button id="btnTopForm" name="send" type="button" onclick="window.location.href='#frozen'" class="btn-greenTop" value="">
                                    <img style="margin-right:0px;" src="img/dl.png">
                                    скачать презентацию
                                </button>   
					        
                            </div>
					    
					   
                    
			           
					   
                            <input type="hidden" name="description"  value="93.84.17.221" />
                            <input type="hidden" name="city"         value="not found" />
                            <input type="hidden" name="clientHours" id="clientHours" value="">
                            <input type="hidden" name="target" value="order-B(верхняя форма)">   
                            <input type="hidden" name="site" value="index.html">
                            <input type="hidden" name="ClientId" id="ClientId" value="">
			
                        </div>
                        <div class="text-center callMe">
                            <input type="checkbox" name="cb" checked="">Позвоните мне после заполнения заявки				   
                        </div>
					
                    </div>
					

					
                    </form>
                </div>
                <div class="topIcon">
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-2 col-xs-offset-0 col-xs-6"><img src="img/ico1.png"></div>
                        <div class="col-sm-3 col-xs-6"><img src="img/ico2.png"></div>
                        <div class="col-sm-3 col-sm-offset-0 col-xs-offset-3 col-xs-6"><img src="img/ico3.png"></div>
                    </div>
                </div>
				    
				
            </div></div>
    </div>
</section>
<section id="povod">
    <div class="container">
        <div class="row text-center">
            <div class="titleSection">
                <h4>Влюбись в бали за 1 минуту</h4>
            </div>
            <div class="col-sm-7">
                <div class="video hidden-xs">
                    <div class="hidden-xs" data-type="youtube" data-video-id="myA7jdUCGUY" data-plyr='{"controls":["play","play-large"] }'><iframe width="560" height="315" src="https://www.youtube.com/watch?v=uJsG1NeRKJo" frameborder="0" allowfullscreen></iframe></div>
                </div>
                <div class="video visible-xs"><iframe src="http://vk.com/video_ext.php?oid=7174442&amp;id=456239062&amp;hash=df0037265739b5b6&amp;hd=2" width="853" height="480" frameborder="0" allowfullscreen></iframe></div>
            </div>
		
            <div class="col-sm-5">
		    
		    
                <div class="wrap">
                    Мы снимали это видео почти 30 дней.<br> Чтобы вы могли всего за 1 минуту впитать всю красоту, все звуки и все запахи нашего любимого острова. 
                </div>
                <div class="podpis">С любовью и заботой,<br/>
                    Островитянин Лео и Ко.</div>
            </div>
		
        </div></div>
</section>
<section id="povod">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="titleSection">
                <h4>3 повода поехать в Шанти-тур<span class='sparklebig'>*</span></h4>
            </div>
            <img class="hidden-xs" src="img/bgpovod.jpg">
            <img class="visible-xs" src="img/bgpovod2.jpg">
        </div></div>
</section>
<section id="baliIdeal">
    <div class="row">
        <div class="titleSection text-center">
            <h4>Бали - лучшее место для перезагрузки</h4>
        </div>
    </div>
    <div class="row slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="0">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div pokaz="false" class="item active">
                    <img src="img/slide/slide1.jpg" alt="...">
                    <div class="carousel-caption slide2">
                        девственная<br/> природа <span>острова </span>

                    </div>
                </div>
                <div class="item">
                    <img src="img/slide/slide2.jpg" alt="...">
                    <div class="carousel-caption slide2">
                        красивые традиции<br/><span>и всегда улыбающиеся<br/> жители острова</span>
                    </div>
                </div>
                <div class="item">
                    <img src="img/slide/slide3.jpg" alt="...">
                    <div class="carousel-caption slide2">
                        <span>Волны <br/>
                            В них можно</span> купаться, <br/>
                        <span>с ними можно</span> играться, <br/>
                        <span>ими можно</span> восхищаться
                    </div>
                </div>
                <div class="item">
                    <img src="img/slide/slide5.jpg" alt="...">
                    <div style="" class="carousel-caption slide2">
                        <span>впервые<br/>
                            увидеть</span> океан
                    </div>
                </div>
                <div class="item">
                    <img src="img/slide/slide4.jpg" alt="...">
                    <div class="carousel-caption slide2">
                        дух <span>свободы</span>
                    </div>
                </div>
                <div class="item">
                    <img src="img/slide/slide6.jpg" alt="...">
                    <div class="carousel-caption slide2">
                        Бали - столица йоги <br/>
                        <span>и лучшее место для<br/> медитаций</span>
                    </div>
                </div>
    
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left visible-xs" aria-hidden="true"></span>
                <div class="listSliderL hidden-xs"></div>
 
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right visible-xs" aria-hidden="true"></span>
                <div class="listSlider hidden-xs"></div>
            </a>
  
  
        </div>
    </div>
</section>
<section id="life">
    <div class="container-fluid">
        <div class="row">
            <div class="titleSection text-center">
                <a name="accomodation"/>
                <h4>Где будем жить?</h4>
            </div>
            <div class="subTitle text-center"><span>Shanti Yoga Place</span></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row text-center liveText">
                Светлая и просторная вилла с бассейном, личным пространством для практики - специально оборудованной террасой с видом на бесконечные джунгли. Рядом с вилой одно из лучших вегетарианских кафе на острове! Мы бывали на многих виллах и можем сказать точно, что наша вилла - самое уютное и атмосферное место на всём острове :)		</div>	
        </div>
        <div class="row text-center ico">
            <div class="col-sm-4 col-xs-4">
                <img src="img/icon1.png">
                <p>Кондиционер, вентилятор и<br/> душ в каждом номере</p>
            </div>
            <div class="col-sm-4 col-xs-4">
                <img src="img/icon2.png">
                <p>Бесплатный WI-FI на <br/>территории виллы</p>
            </div>	
	
            <div class="col-sm-4 col-xs-4">
                <img src="img/icon4.png">
                <p>Бассейн</p>
            </div>		
        </div>
        <div class="row">
            <div class="lifeImg text-center">
                <a class="col-sm-4 col-xs-6" href="img/live/01.jpg" class="fancybox" rel="lightbox"><img src="img/live/01.jpg" alt=""></a>
                <a class="col-sm-4 col-xs-6" href="img/live/02.jpg" class="fancybox" rel="lightbox"><img src="img/live/02.jpg" alt=""></a>
                <a class="col-sm-4 col-xs-6" href="img/live/03.jpg" class="fancybox" rel="lightbox"><img src="img/live/03.jpg" alt=""></a>
                <a class="col-sm-4 col-xs-6" href="img/live/04.jpg" class="fancybox" rel="lightbox"><img src="img/live/04.jpg" alt=""></a>
                <a class="col-sm-4 col-xs-6 hidden-xs" href="img/live/05.jpg" class="fancybox" rel="lightbox"><img src="img/live/05.jpg" alt=""></a>
                <a class="col-sm-4 col-xs-6 hidden-xs" href="img/live/06.jpg" class="fancybox" rel="lightbox"><img src="img/live/06.jpg" alt=""></a>
                <a class="col-sm-4 col-xs-6" href="img/live/07.jpg" class="fancybox" rel="lightbox"><img src="img/live/07.jpg" alt=""></a>
                <a class="col-sm-4 col-xs-6 hidden-xs" href="img/live/08.jpg" class="fancybox" rel="lightbox"><img src="img/live/08.jpg" alt=""></a>
                <a class="col-sm-4 col-xs-6" href="img/live/09.jpg" class="fancybox" rel="lightbox"><img src="img/live/09.jpg" alt=""></a>
				

            </div>
        </div>
        <div class="row text-center"><button name="download_tour_presentation" class="btn-green"><img style="margin-right:13px;" src="img/dl.png">Скачать презентацию тура<span class='sparklesmall'>*</span></button>
        </div>
    </div>	
</section>
<section id="raslab">
    <div class="container-fluid">
        <div class="row">
            <div class="titleSection text-center">
                <h4>Выдохнуть и расслабиться</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <img src="img/rs1.jpg">
            </div>
            <div class="col-sm-4 col-xs-6">
                <img src="img/rs2.jpg">
            </div>
            <div class="col-sm-4 col-xs-6">
                <img src="img/rs3.jpg">
            </div>
            <div class="col-sm-4 col-xs-6">
                <img src="img/rs4.jpg">
            </div>
            <div class="col-sm-4 col-xs-6">
                <img src="img/rs5.jpg">
            </div>
            <div class="col-sm-4 col-xs-6">
                <img src="img/rs6.jpg">
            </div>
        </div>
    </div>
</section>
<section id="yoga">
    <div class="container-fluid">
        <div class="row">
            <div class="titleSection1 text-center">
                <a name="teacher"/>
                <h4><span>Мягкая йога для новичков</span> <br/><p>тонкая отстройка для продвинутых</p></h4>
            </div>
        </div>
			
        <div class="made__slider__wrap">
            <div class="made__slider">
                <div class="photo-item">
                    <div class="made__img__wrap">
                        <img src="img/pochemu/4.jpg">
                    </div>
                </div>
                <div class="photo-item">
                    <div class="made__img__wrap">
                        <img src="img/pochemu/1.jpg">
                    </div>
                </div>
                <div class="photo-item">
                    <div class="made__img__wrap">
                        <img src="img/pochemu/2.jpg">
                    </div>
                </div>
                <div class="photo-item">
                    <div class="made__img__wrap">
                        <img src="img/pochemu/3.jpg">
                    </div>
                </div>
            </div>
					
        </div>
        <div class="made__p">
            <img class="arif-link" style="max-width: 72%;margin-left: 0px;" src="img/flor.png">
            <a class="soc" href="https://www.facebook.com/vika.bojok" target="_blank">https://www.facebook.com/vika.bojok</a>
            <p>Виктория дает практику йоги гостям тура каждый <br/>день. Занятия у Виктории <b>мягкие и точные</b>, <br/>подходят как людям с болями в спине, так и<br/> желающим <b>подтянуть фигуру</b> и <b>улучшить<br/> мышечный тонус.</b><br>И не забывайте, что йога - лучший инструмент для полного расслабления и восстановления!</p>
        </div>
    </div>
</section>
<section id="posetim-mesta">
    <div class="container-fluid">
        <div class="row">
            <div class="titleSection text-center">
                <a name="places"/>
                <h4>Посетим удивительные места</h4>
            </div>
        </div>
    </div>
    <div class="row slider">
        <div id="slider-mesta" class="carousel slide" data-ride="carousel-mesta" data-interval="0">
            <ol class="carousel-indicators">
                <li data-target="#slider-mesta" data-slide-to="0" class="active"></li>
                <li data-target="#slider-mesta" data-slide-to="1"></li>
                <li data-target="#slider-mesta" data-slide-to="2"></li>
                <li data-target="#slider-mesta" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div pokaz="false" class="item active">
                    <img src="img/mesta/1.jpg" alt="...">
                    <div class="carousel-caption slide1">
                        Восхождение<br/>на вулкан <br/>
                        <p>Вулкан, высотой 1717 метров. <br/> Захватывающий подъем на вершину, а затем <br/> наслаждение рассветом на высоте - <br/>незабываемые впечатления
                            <span>*по желанию, вне основной программы</span></p>

                    </div>
                </div>
    
                <div class="item">
                    <img src="img/mesta/3.jpg" alt="...">
                    <div class="carousel-caption slide1">
                        Комплекс из <br/>22 храмов
                        <p>Прямо у подножия самого высокого вулкана Бали <br> расположен комплекс <b>Busakih</b> из 22 храмов <br> невероятной красоты. Поднявшись на самую <br> вершину комплекса, вы сможете увидеть весь <br> остров с одной стороны и потрясающий своим <br> видом вулкан, с другой.</p>
                    </div>
                </div>
   
                <div class="item">
                    <img src="img/mesta/6.jpg" alt="...">
                    <div class="carousel-caption slide1">
                        Культурная <br> столица
                        <p>Старинный город <b>Убуд(Ubud)</b> — центр <br> художественных ремёсел и искусств Бали. Сотни <br> магазинов с авторскими изделиями ручной <br> работы, уютные заведения с неповторимой <br> атмосферой, известные галереи, музеи и <br> мастерские</p>
                    </div>
                </div>
    
                <div class="item">
                    <img src="img/mesta/7.jpg" alt="...">
                    <div class="carousel-caption slide1">
                        Святые <br> источники
                        <p>Водопад <b>Себату(Sebatu</b>)- святой источник <br> живой воды, рядом с храмом, спрятан в джунглях<br>  в низине реки. Водопад очищает мысли от<br>  дурных поступков, наполняет силами для новых<br>  свершений, уже несколько веков является для<br>  местных жителей священным</p>
                    </div>
                </div>
   
    
            </div>

            <a class="left carousel-control " href="#slider-mesta" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left visible-xs" aria-hidden="true"></span>
                <div class="listSliderL hidden-xs"></div>
            </a>
            <a class="right carousel-control" href="#slider-mesta" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right visible-xs" aria-hidden="true"></span>
                <div class="listSlider hidden-xs"></div>
            </a>
  
  
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="col-sm-12 col-xs-12 ofr">** Не является публичной офертой. Программа тура может видоизменяться в зависимости от погодных условий, пожеланий группы, национальных праздников и церемоний. Однако мы предоставляем равнозначную замену в случае необходимости.</p>
        </div>
    </div>	
</section>
<section id="opit">
    <div class="container-fluid">
        <div class="row">
            <div class="titleSection text-center">
                <h4>Новый опыт и 100% наполнение</h4>
            </div>
        </div>
        <div class="row opit">
            <div class="col-sm-6 col-xs-12">
                <img src="img/opit1.jpg">
            </div>
            <div class="col-sm-6 col-xs-12">
                <img src="img/opit2.jpg">
            </div>
            <div class="col-sm-6 col-xs-12">
                <img src="img/opit3.jpg">
            </div>
            <div class="col-sm-6 col-xs-12">
                <img src="img/opit4.jpg">
            </div>
            <p style="margin-top:2%;" class="col-sm-12 zvz">* не входит в основную программу. предоставляется по возможности</p>
        </div>
        <div class="row text-center"><button name="download_tour_presentation" class="btn-green"><img style="margin-right:13px;" src="img/dl.png">Скачать презентацию тура<span class='sparklesmall'>*</span></button>
        </div>
    </div>
</section>
<section id="photo">
<div class="container-fluid">
<div class="row">
    <div class="titleSection text-center">
        <h4>За <span>3 года</span> мы провели <span>37 туров</span>,<br>
            было сделано более <span>4000 фотографий</span>,<br>
            лучшие из них вы можете увидеть ниже<br>
        </h4>
    </div>
</div>
<div class="row">
<div class="photo-slider__best-photo__wrap notmobile">
					
<div class="photo-slider__best-photo">
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo1.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo1.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo2.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo2.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo3.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo3.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo4.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo4.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo5.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo5.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo6.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo6.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo7.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo7.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo8.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo8.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" class="col-sm-3" href="img/foto/best-photo9.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo9.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo10.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo10.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo11.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo11.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo12.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo12.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo13.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo13.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo14.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo14.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo15.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo15.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo16.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo16.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo17.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo17.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo18.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo18.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo19.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo19.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo20.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo20.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo21.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo21.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo22.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo22.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo23.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo23.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo24.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo24.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo25.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo25.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo26.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo26.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo27.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo27.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo28.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo28.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo29.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo29.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo30.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo30.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo31.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo31.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo32.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo32.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo33.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo33.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo34.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo34.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo35.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo35.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo36.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo36.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo37.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo37.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo38.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo38.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo39.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo39.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo40.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo40.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo41.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo41.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo42.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo42.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo43.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo43.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo44.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo44.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo45.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo45.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo46.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo46.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo47.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo47.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo48.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo48.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo49.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo49.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo50.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo50.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo51.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo51.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo52.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo52.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo53.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo53.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo54.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo54.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo55.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo55.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo56.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo56.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo57.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo57.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo58.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo58.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo59.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo59.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo60.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo60.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo61.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo61.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo62.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo62.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo63.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo63.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo64.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo64.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo65.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo65.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo66.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo66.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo67.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo67.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo68.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo68.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo69.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo69.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo70.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo70.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo71.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo71.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo72.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo72.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo73.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo73.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo74.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo74.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo75.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo75.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo76.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo76.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo77.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo77.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo78.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo78.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo79.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo79.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo80.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo80.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo81.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo81.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo82.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo82.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo83.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo83.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo84.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo84.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo85.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo85.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo86.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo86.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo87.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo87.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo88.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo88.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo89.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo89.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo90.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo90.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo91.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo91.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo92.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo92.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo93.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo93.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo94.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo94.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo95.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo95.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo96.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo96.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo97.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo97.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo98.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo98.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo99.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo99.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo100.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo100.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo101.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo101.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo102.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo102.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo103.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo103.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo104.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo104.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo105.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo105.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo106.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo106.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo107.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo107.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo108.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo108.jpg" alt=""></a>
</div>
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo109.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo109.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo110.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo110.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo111.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo111.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo112.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo112.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo113.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo113.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo114.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo114.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo115.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo115.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo116.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo116.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo117.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo117.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo118.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo118.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo119.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo119.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo120.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo120.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo121.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo121.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo122.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo122.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo123.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo123.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo124.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo124.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo125.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo125.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo126.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo126.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo127.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo127.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo128.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo128.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo129.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo129.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo130.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo130.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo131.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo131.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo132.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo132.jpg" alt=""></a>
</div>
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo133.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo133.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo134.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo134.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo135.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo135.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo136.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo136.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo137.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo137.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo138.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo138.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo139.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo139.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo140.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo140.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo141.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo141.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo142.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo142.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo143.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo143.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo144.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo144.jpg" alt=""></a>
</div>
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo145.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo145.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo146.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo146.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo147.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo147.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo148.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo148.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo149.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo149.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo150.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo150.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo151.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo151.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo152.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo152.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo153.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo153.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo154.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo154.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo155.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo155.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo156.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo156.jpg" alt=""></a>
</div>
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo157.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo157.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo158.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo158.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo159.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo159.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo160.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo160.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo161.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo161.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo162.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo162.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo163.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo163.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo164.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo164.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo165.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo165.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo166.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo166.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo167.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo167.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo168.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo168.jpg" alt=""></a>
</div>
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo169.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo169.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo170.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo170.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo171.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo171.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo172.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo172.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo173.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo173.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo174.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo174.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo175.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo175.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo176.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo176.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo177.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo177.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo178.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo178.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo179.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo179.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo180.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo180.jpg" alt=""></a>
</div>
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo181.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo181.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo182.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo182.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo183.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo183.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo184.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo184.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo185.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo185.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo186.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo186.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo187.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo187.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo188.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo188.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo189.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo189.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo190.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo190.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo191.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo191.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo192.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo192.jpg" alt=""></a>
</div>
						
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo193.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo193.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo194.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo194.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo195.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo195.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo196.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo196.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo197.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo197.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo198.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo198.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo199.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo199.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo200.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo200.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo201.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo201.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo202.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo202.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo203.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo203.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo204.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo204.jpg" alt=""></a>
</div>
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo205.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo205.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo206.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo206.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo207.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo207.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo208.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo208.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo209.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo209.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo210.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo210.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo211.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo111.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo212.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo212.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo213.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo213.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo214.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo214.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo215.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo215.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo216.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo216.jpg" alt=""></a>
</div>
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo217.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo217.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo218.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo218.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo219.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo219.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo220.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo220.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo221.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo221.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo222.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo222.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo223.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo223.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo224.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo224.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo225.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo225.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo226.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo226.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo227.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo227.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo228.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo228.jpg" alt=""></a>
</div>
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo229.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo229.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo230.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo230.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo231.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo231.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo232.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo232.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo233.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo233.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo234.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo234.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo235.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo235.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo236.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo236.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo237.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo237.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo238.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo238.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo239.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo239.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo240.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo240.jpg" alt=""></a>
</div>
						
<div class="photo-item clear">
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo241.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo241.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo242.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo242.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo243.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo243.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo244.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo244.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo245.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo245.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo246.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo246.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo247.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo247.jpg" alt=""></a>
    <a class="col-sm-3 col-xs-6" href="img/foto/best-photo248.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo248.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo249.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo249.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo250.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo250.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo251.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo251.jpg" alt=""></a>
    <a class="col-sm-3 hidden-xs" href="img/foto/best-photo252.jpg" class="fancybox" rel="lightbox"><img src="img/foto/best-photo252.jpg" alt=""></a>
</div>
						
</div>
</div>
</div>
<div class="text-center"><button name="download_tour_presentation" class="btn-green"><img style="margin-right:13px;" src="img/dl.png">Скачать презентацию тура<span class='sparklesmall'>*</span></button>
</div>
</div>
</div>
</section>
<section id="dusha">
		
    <div class="container-fluid">
        <div class="row">
            <div class="titleSection text-center">
                <h4>Команда организаторов</h4>
            </div>
        </div>
				
        <div class="row">
				    
            <div class="col-md-offset-2 col-md-4 col-xs-12 text-center">
				        
                <div class="team">
				            
                    <img src="img/team/trop.png" alt="">
				            
                </div>
				        
                <div class="ttlteam">Тропин Леонид
                    <span>основатель Шанти-туров</span>
                </div>
                <div class="link">
                    <a href="https://vk.com/ostrovityanin_leo"> https://vk.com/ostrovityanin_leo</a>
                </div>
                <ul>
                    <li>- Провел более 37 успешных туров </li>
                    <li>- Основал одну из самых больших йога-студий за Уралом "Крыша мира"</li>
                    <li>- Основал школу стройности "Второе дыхание"</li>
                    <li>- Заядлый путешественник</li>
                    <li>- Основал концертное агентство Главконцерт, Новосибирск</li>
				            
                </ul>
				        
				        
            </div>
				    
            <!-- <div class="col-md-4 text-center">
				        
                <div class="team">
				            
                    <img src="img/team/ks.png" alt="">
				            
                </div>
				        
                <div class="ttlteam">Ксения Демиденко
                    <span>Организатор туров</span>
                </div>
                <div class="link">
				          
                </div>
                <ul>
                    <li>- Организатор и куратор более 20 йога-туров(Карпаты, Бали)</li>
                    <li>- Любит и знает йогу</li>
                    <li>- Мастер чайных церемоний</li>
                    <li>- Умеет создать теплую и душевную атмосферу в любом месте</li>

				            
                </ul>
				        
				        
            </div> -->
				    
				    
            <div class="col-md-4 text-center col-xs-12">
				        
                <div class="team">
				            
                    <img src="img/team/vika.png" alt="">
				            
                </div>
				        
                <div class="ttlteam">Вика Flor
                    <span>Преподаватель по йоге</span>
                </div>
                <div class="link">
                    <a href="https://www.facebook.com/vika.bojok">https://www.facebook.com/vika.bojok</a>
                </div>
                <ul>
                    <li>- Практикует и преподает йогу больше 12 лет</li>
                    <li>- Прошла обучение в Индии(Решикеш)<br>в 2013 по направлению Хатха-йога</li>
                    <li>- Большой опыт работы фитнес-тренером</li>
                    <li>- Проводит акро-йогу, медитации, пранаямы, очистительные крийи</li>

				            
                </ul>
				        
				        
            </div>
				    
        </div>
			
					
					
    </div>
    </div>
</section>
<section id="emotion">
    <div class="container-fluid">
    <div class="titleEmo"></div>
    <div class="row">
        <div class="photoEmotion">
					
            <div class="photo-slider__emotion">

                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/otall1.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/otmini1.jpg" alt=""></a>	
                    </div>

                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/otall2.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/otmini2.jpg" alt=""></a>	
				            	
	
                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/otzyv1.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/otzyv1.jpg" alt=""></a>	
				          

                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/otzyv2.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/otzyv2.jpg" alt=""></a>
				            	
	
                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/otzyv3.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/otzyv3.jpg" alt=""></a>
				            	
	
                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ott1.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ott1.jpg" alt=""></a>
				            	
	
                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ott2.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ott2.jpg" alt=""></a>
				            	
	
                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ott3.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ott3.jpg" alt=""></a>
				            	
	
                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ott4.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ott4.jpg" alt=""></a>
				            	
	
                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ott5.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ott5.jpg" alt=""></a>
				            	
	
                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ott6.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ott6.jpg" alt=""></a>
				            	
	
                    </div>
                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/otzyv5.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/otzyv5.jpg" alt=""></a>
				            	
	
                    </div>
                </div>
                <!--	<div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ot2.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ot3.jpg" alt=""></a>	
				            	
                    </div>

                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ot4.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ot4.jpg" alt=""></a>	
				            	
                    </div>

                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ot5.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ot5.jpg" alt=""></a>	
				            	
                    </div>

                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ot6.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ot6.jpg" alt=""></a>	
				            	
                    </div>

                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ot7.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ot7.jpg" alt=""></a>	
				            	
                    </div>

                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9">
                        <a href="img/emotion/ot8.jpg" class="fancybox" rel="lightbox"><img class="y4" src="img/emotion/ot8.jpg" alt=""></a>	
				            	
                    </div>

                </div>-->
            </div>
            <div class="subTitle text-center"><span>Видео-эмоции</span></div>
					

			
        </div>
        <div>
            <div class="photo-slider__video">

                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9 video1">
                        <img class="y1" src="img/video/v3.jpg" alt="">
				            	
                    </div>

                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9 video2">
                        <img class="y2" src="img/video/v4.jpg" alt="">
				            	
                    </div>

                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9 video3">
                        <img class="y3" src="img/video/v2.jpg" alt="">
				            	
                    </div>

                </div>
                <div class="photo-item clear">
                    <div class="embed-responsive embed-responsive-16by9 video4">
                        <img class="y4" src="img/video/v1.jpg" alt="">
				            	
                    </div>

                </div>

            </div>
        </div>
    </div>	
</section>
<section id="vstrecha">
    <div class="container-fluid">
        <div class="titleSection text-center">
            <h4>6 шагов до нашей встречи на острове</h4>
        </div>
        <img class="hidden-xs" src="img/shagi.png">
        <img class="visible-xs" src="img/shagimob.png">
    </div>
</section>
<section id="vklucheno">
    <div class="container-fluid">
        <div class="titleSection text-center">
            <a name="whatisincluded"/>
            <h4>Что включено в стоимость тура<span class='sparklebig'>*</span>?</h4>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <ul>
                    <li><span>Проживание</span> на частной вилле</li>
                    <li><span>Трансфер</span> в рамках тура<span class='sparklesmall'>*</span></li>
                    <li><span>Вегетарианские</span> завтраки и ужины</li>
                    <li><span>4 выезда</span>-экскурсии</li>
                    <li><span>Сеанс</span> массажа</li>
                    <li><span>Софт-медитации</span></li>
                    <li><span>Посещение</span> 4-7 красивейших пляжей</li>
                </ul>
            </div>
            <div class="col-sm-6 col-xs-12">
                <ul>
                    <li><span>Русскоговорящий</span> гид</li>
                    <li><span>Корзина</span> свежих фруктов</li>
                    <li><span>13-17</span> практик йоги</li>
                    <li><span>Семинар</span> от преподавателя по йоге</li>
                    <li><span>Практика</span> йога-нидры</li>
                    <li><span>Мастер-класс</span> по вегетарианскому питанию</li>
                    <li><span>Встреча</span> в аэропорту в первый день тура и<br> трансфер обратно </li>
				
                </ul>
            </div>

        </div>
        <div class="row text-center"><button name="participate" class="btn-green"><img style="margin-right:13px;" src="img/dl.png">Участвовать</button>
        </div>
    </div>
		
</section>
<section id="tour-stoimost">
    <div class="container-fluid">
        <div class="titleSection text-center">
            <h4>Cтоимость тура<span class='sparklesmall'>*</span></h4>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 tour1 text-center">
                <a href="#for"><img class="hidden-xs" src="img/paket1.jpg">
                    <img class="visible-xs" src="img/paket1-m.jpg"></a>
                <button name="download_tour_presentation" class="btn-green zabron">Забронировать</button>
					
            </div>
            <div class="col-sm-4 col-xs-12 tour2 text-center">
                <a href="#for"><img class="hidden-xs" src="img/paket2.jpg">
                    <img class="visible-xs" src="img/paket2-m.jpg"></a>
                <button name="download_tour_presentation" class="btn-green zabron2">Забронировать</button>
					
            </div>
            <div class="col-sm-4 col-xs-12 tour3 text-center">
                <a href="#for"><img class="hidden-xs" src="img/paket3.jpg">
                    <img class="visible-xs" src="img/paket3-m.jpg"></a>
                <button name="download_tour_presentation" class="btn-green zabron3">Забронировать</button>
            </div>
        </div>
        <div class="row text-center">
            <p>*Акция продлена до <span class="dateOf"></span></p>
            <div id="timer"></div>
            <p> Что не входит в стоимость: авиаперелет до Бали и обратно, аренда лежаков, обеды, поход на вулкан, ужины вне виллы,<br/> заключительный ужин в ресторане, все дополнительные расходы на месте.<br/> Цены на билеты можете скачать <a href="https://www.aviasales.ru/" target="_blank">тут</a>.</p>
        </div>
    </div>
		
</section>
<!--
<section id="data">
    <div class="container-fluid">
        <div class="titleSection text-center">
            <h4>Даты и стоимость туров</h4>
        </div>
        <div id="date" class="date">

            <div class="wrapper">
				
                <div class="photo-slider1 ">
						

					
						
                    <div class="photo-item photo-slider1__a4 ">
                        <a href="#for" class="photo-slider1__a ">31 августа <br />- <br /> 10 сентября</a>
                    </div>
                    <div class="photo-item photo-slider1__a5 ">
                        <a href="#for" class="photo-slider1__a ">15 сентября <br />-<br />25 сентября</a>
                    </div>
                    <div class="photo-item photo-slider1__a6">
                        <a href="#for" class="photo-slider1__a  ">30 сентября <br />-<br />10 октября</a>
                    </div>
                    <div class="photo-item photo-slider1__a7">
                        <a href="#for" class="photo-slider1__a  ">15 октября <br />-<br />25 октября</a>
                    </div>
                    <div class="photo-item photo-slider1__a8">
                        <a href="#for" class="photo-slider1__a  ">31 октября <br />-<br />10 ноября</a>
                    </div>
                    <div class="photo-item photo-slider1__a9">
                        <a href="#for" class="photo-slider1__a  ">15 ноября <br />-<br />25 ноября</a>
                    </div>
                    <div class="photo-item photo-slider1__a8">
                        <a href="#for" class="photo-slider1__a  ">30 ноября <br />-<br />10 декабря</a>
                    </div>
                    <div class="photo-item photo-slider1__a9">
                        <a href="#for" class="photo-slider1__a  ">15 декабря <br />-<br />25 декабря</a>
                    </div>

                </div>
                <p class="ttr" style="text-align:center;margin:30px;font-size:18px;">Точная стоимость тура и наличие свободных мест уточняются по запросу</p>
               
            </div>
        </div>
        <div class="row text-center"><button name="request_price" class="btn-green"><img style="margin-right:13px;" src="img/dl.png">Запросить стоимость тура</button>
        </div>
    </div>
</section>
-->
<section id="day">
		
    <img class="pk" src="img/11dney.jpg">
    <img class="mob" src="img/11dney-m.jpg">
</section>
<section id="svyaz">
    <div class="container-fluid">
        <div class="titleSection text-center">
            <h4>Мы всегда на связи</h4>
        </div></div>
    <div class="container svyaz">
        <div class="row">
            <div class="col-sm-6 col-xs-12"><img src="img/adres1.jpg"></div>
            <div class="col-sm-6 col-xs-12">
                <p>Индонезия, Остров Бали <br>
                    Shanti Yoga Place
                </p>
					
                <p>Телефон <span>+(62)-812-3935-3005</span></p>
            </div>
        </div>
        <div class="clearfix hidden-xs"></div>
        <div class="row">
            <div class="col-sm-6 col-xs-12"><img src="img/adres2.jpg"></div>
            <div class="col-sm-6 col-xs-12">
					
                <p>Россия, Новосибирск<br>
                    Йога-лофт Крыша Мира
                </p>
					
                <p>Телефон <span>8(383)-380-02-19</span></p>
            </div>
        </div>
    </div>
</section> 
<section id="form">
    <div  class="main-form" >
        <div class="wrapper clear">
            <div class="form__wrap" id="for">
                <p class="desc mb40">
                    <span>Скачайте презентацию <br />Релакс-йога-тура<span class='sparklebig'>*</span><br /> бесплатно!</span>
                </p>
                <div class="form__wrap__clipart">
					
                </div>
				
				
                <form action="http://yogabalisha.ru/send/send.php"  id="leadform" target='_blank' onsubmit="yaCounter40478110.reachGoal('orderfull'); return true;" method="post">
                    <div class="table">
                        <input class="form-input" placeholder="Имя" type="text" name="name"  value="" id="name" required="required">
                        <input class="form-input"  placeholder="Телефон" type="text" name="phone"  value="" id="phone2" required="required">
                    
                        <input type="checkbox" name="cb" checked/>Позвоните мне после заполнение заявки<bR><br>					   
                        <input type="hidden" name="description"  value="93.84.17.221" />
                        <input type="hidden" name="city"         value="not found" />
                        <input type="hidden" name="clientHours" id="clientHours" value="">
                        <input type="hidden" name="target" value="order-B(нижняя форма)">   
                        <input type="hidden" name="site" value="index.html">
                        <input type="hidden" name ="ClientId" id="ClientId">
                        <button name="send" type="button" class="btn-green"  value=""/>
                        <img style="margin-right:13px;"src="img/dl.png">Скачать презентацию тура<span class='sparklesmall'>*</span></button>
			
                    </div>
					
                    <div class="text-center">
						
                    </div>
					
                </form>
            </div>
        </div>
    </div>
</section> 
<section id="question" class="hidden-xs">
    <div class="container-fluid">
        <div class="titleSection text-center">
            <h4>Популярные вопросы и ответы</h4>
        </div>
    </div>
    <div class="row">
        <div class="popular__q__wrap">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="popular__content__wrap">
                        <h5>Я ЕДУ В ОДИНОЧКУ, ЧАСТО ЛИ ЕЗДЯТ ОДНИ?</h5>
                        <p>Чаще чем вы думаете ;) Большая часть наших гостей прилетают одни, а уезжает с десятком новых друзей. У нас в турах царит ооочень тёплая атмосфера.</p>
                    </div>
                    <div class="popular__content__wrap">
                        <h5>КАК КУПИТЬ БИЛЕТ НА БАЛИ?</h5>
                        <p>Мы советуем пользоваться порталами trip.ru, aviasales.ru, удобнее всего лететь через Москву, Бангкок или Куала-Лумпур. Если вы не можете найти подходящий вариант, то мы запросто поможем с поиском билетов, напишите нам <br> <a href="https://vk.com/im?sel=-129107246">https://vk.com/im?sel=-129107246</a> </p>
                    </div>
                    <div class="popular__content__wrap">
                        <h5>МОГУ ЛИ Я ДОЛЬШЕ ОСТАТЬСЯ ВНЕ ТУРА?</h5>
                        <p>Да, конечно! Более того, мы поможем вам с туристической программой как до тура так и после.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="popular__content__wrap">
                        <h5>Я -НОВИЧОК В ЙОГЕ, НЕ СТРАШНО?</h5>
                        <p>Почти 70% тех кто едет впервые знакомятся с йогой. Практика выстроена так, что новички легко вливаются в ритм. Также стоит отметить, что сама йога мягкая и адаптирована под Азиатскую духоту. В связи с высокой температурой ваше тело будет пластичнее и легче будет осваивать основы основ! Но и продолжающим скучно не будет :).</p>
                    </div>
                    <div class="popular__content__wrap">
                        <h5>НУЖНА ЛИ ВИЗА НА БАЛИ?</h5>
                        <p>Для Россиян, Украинцев и граждан Казахстана виза выдается абсолютно бесплатно, для граждан Беларуси по прилёту но стоить будет 35$.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="frozen">
    <div id="vk_post_-129107246_529" style="margin: 0 auto;"></div>
    <script type="text/javascript">
        (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "../vk.com/js/api/openapi1d7f.js?154"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
        (function() {
            if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-129107246_529', -129107246, 529, 'IFfYWvV0Etmw5Oby6aQBcAIFOA', {width: 600})) setTimeout(arguments.callee, 50);
        }());
    </script>
</section>
@{
    IgnoreBody();
}
<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-offset-3 col-sm-6 ">
                <button name="order_call" type="button" class="btn-zvonok">Заказать звонок</button>
                <img src="img/trip__icon.jpg">
                <img src="img/avia__icon.jpg">
                <p class="text-center">
                    <a href="#">Ознакомиться с договором оферты</a><br>
                    Релакс-йога-туры<span class='sparklesmall'>*</span> на Бали "Шанти" <br>
                    2013-2017 (с)
                </p>
                <p class="text-center">
                    ОГРНИП 316547600124102 <br>
                    ИНН: 541003565070<br>
                    Юридический адрес: <br>
                    г.Новосибирск, Ул.Амосова 77/1, офис 81, 630095<br>
                    8(383)3800219
                </p>
                <p class="ofr">** Не является публичной офертой. Программа тура может видоизменяться в зависимости от погодных условий, пожеланий группы, национальных праздников и церемоний. Однако мы предоставляем равнозначную замену в случае необходимости.<br>* Данная услуга не является тур-операторской деятельностью. Под туром подразумевается разовая помощь в организации поездки от имени клиента согласно договору-поручения.</p>
            </div>
        </div>
    </div>
    <div class="wrp"></div>
    <div class="open-video">
        <span class="close">x</span>
        <div class="input-video"></div>
    </div>
</footer>
<script src="js/jquery.js"></script>
<script src="js/owl/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="js/fancybox/source/jquery.fancybox.js"></script>
<script src="js/script_frozen.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<!--
<script src="libs/jquery/jquery-1.11.2.min.js"></script> -->
<script src="js/jquery.maskedinput.js"></script>
<script src="js/jquery.validate.js"></script>

<script type="text/javascript">
    jQuery(function($){
        $("#phone").mask("+9(999) 999-9999");
        $("#phone2").mask("+9(999) 999-9999");
        var ClientId;    
		
    });
</script>


	 
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','../connect.facebook.net/en_US/fbevents.js');
    fbq('init', '783747425107314'); // Insert your pixel ID here.
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=783747425107314&amp;ev=PageView&amp;noscript=1"
          /></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<script type="text/javascript" src="../vk.com/js/api/openapi42a0.js?136"></script>

<!-- VK Widget -->
<!--<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 129107246, {});
</script>-->
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=j*gjpiuFxJTQxXus8RvnRxxg5LouaOM7kOdJl3ffvEcy1edRQI3xHXAZPFvpQZC*LMaIIQiYnf6aMmHg9lXOZveqOzExVMR*Rol41O465EGCWOCsjwxRJvuAKXUq1fbi6Obb/vwpQ212JMuYPzV5eFgfI4TxTKsrLRS337RssWI-&pixel_id=1000038206';</script>

<!-- Yandex.Metrika counter -->
<script src="../mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
		
<script type="text/javascript">
    try {
        var yaCounter40478110 = new Ya.Metrika({
            id:40478110,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    } catch(e) { }
		
    ClientId = yaCounter40478110.getClientID();
    $('#leadformTop #ClientId').val(ClientId);
    $('#leadform #ClientId').val(ClientId);
		    
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/40478110" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
    var _tmr = window._tmr || (window._tmr = []);
    _tmr.push({id: "2845940", type: "pageView", start: (new Date()).getTime()});
    (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
        ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    })(document, window, "topmailru-code");
</script><noscript><div style="position:absolute;left:-10000px;">
    <img src="http://top-fwz1.mail.ru/counter?id=2845940;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->

<!-- google analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98104850-1', 'auto');
    ga('send', 'pageview');

    $('button[name="order_call"]').click(function(event)
    {
        ga('send', 'event', 'button_click', 'klik2');
    });
    $('button[name="download_tour_presentation"]').click(function(event)
    {
        ga('send', 'event', 'button_click', 'klik');
    });
    $('button[name="request_price"]').click(function(event)
    {
        ga('send', 'event', 'button_click', 'klik4');
    });
    $('button[name="participate"]').click(function(event)
    {
        ga('send', 'event', 'button_click', 'klik3');
    });

</script>


<script type="text/javascript" src="../vk.com/js/api/openapi903c.js?143"></script>
<!-- VK Widget -->
<!--<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 129107246, {expanded: "1",disableNewMessagesSound: "1",tooltipButtonText: "Есть вопрос?"});
</script>-->
<!-- Код тега ремаркетинга Google -->
<!--------------------------------------------------
С помощью тега ремаркетинга запрещается собирать информацию, по которой можно идентифицировать личность пользователя. Также запрещается размещать тег на страницах с контентом деликатного характера. Подробнее об этих требованиях и о настройке тега читайте на странице http://google.com/ads/remarketingsetup.
--------------------------------------------------->
<script type="text/javascript">
    var google_tag_params = {
        travel_destid: 'REPLACE_WITH_VALUE',
        travel_originid: 'REPLACE_WITH_VALUE',
        travel_startdate: 'REPLACE_WITH_VALUE',
        travel_enddate: 'REPLACE_WITH_VALUE',
        travel_pagetype: 'REPLACE_WITH_VALUE',
        travel_totalvalue: 'REPLACE_WITH_VALUE',
    };
</script>
<script type="text/javascript">
/* <![CDATA[ */
    var google_conversion_id = 865648409;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/865648409/?guid=ON&amp;script=0"/>
    </div>
</noscript>
<!-- BEGIN JIVOSITE CODE 
<script type='text/javascript'>
(function(){ var widget_id = 'zOcTIakPw5';var d=document;var w=window;function l(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- END JIVOSITE CODE -->
<script src="js/plyr.js"></script>
<script>
    if ($('body').width()>500){
    
        plyr.setup({



        });  
    }

</script>
</body>

<!-- Mirrored from yogabalisha.ru/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Oct 2018 16:49:19 GMT -->
</html>

@*<!DOCTYPE html>*@
@*<html>*@
@*<head>*@
@*    <meta charset="utf-8" />*@
@*    <meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
@*    <title>@ViewData["Title"] - RaspberryTea</title>*@
@**@
@*    <environment include="Development">*@
@*        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
@*        <link rel="stylesheet" href="~/css/site.css" />*@
@*    </environment>*@
@*    <environment exclude="Development">*@
@*        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"*@
@*              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"*@
@*              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
@*        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
@*    </environment>*@
@*</head>*@
@*<body>*@
@*    <nav class="navbar navbar-inverse navbar-fixed-top">*@
@*        <div class="container">*@
@*            <div class="navbar-header">*@
@*                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">*@
@*                    <span class="sr-only">Toggle navigation</span>*@
@*                    <span class="icon-bar"></span>*@
@*                    <span class="icon-bar"></span>*@
@*                    <span class="icon-bar"></span>*@
@*                </button>*@
@*                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">RaspberryTea</a>*@
@*            </div>*@
@*            <div class="navbar-collapse collapse">*@
@*                <ul class="nav navbar-nav">*@
@*                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
@*                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>*@
@*                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
@*                </ul>*@
@*            </div>*@
@*        </div>*@
@*    </nav>*@
@*    <div class="container body-content">*@
@*        @RenderBody()*@
@*        <hr />*@
@*        <footer>*@
@*            <p>&copy; 2018 - RaspberryTea</p>*@
@*        </footer>*@
@*    </div>*@
@**@
@*    <environment include="Development">*@
@*        <script src="~/lib/jquery/dist/jquery.js"></script>*@
@*        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
@*        <script src="~/js/site.js" asp-append-version="true"></script>*@
@*    </environment>*@
@*    <environment exclude="Development">*@
@*        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"*@
@*                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"*@
@*                asp-fallback-test="window.jQuery"*@
@*                crossorigin="anonymous"*@
@*                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">*@
@*        </script>*@
@*        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"*@
@*                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"*@
@*                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"*@
@*                crossorigin="anonymous"*@
@*                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">*@
@*        </script>*@
@*        <script src="~/js/site.min.js" asp-append-version="true"></script>*@
@*    </environment>*@
@**@
@*    @RenderSection("Scripts", required: false)*@
@*</body>*@
@*</html>*@
